<app-header></app-header>

<div class="container-fluid h-94">
  <div class="row h-100p">
    <div class="col-md-3 col-lg-2 h-100p p-0">
      <app-sidebar></app-sidebar>
    </div>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 h-100p">
      <h4 class="mt-32">Usuários interessados</h4>
      <hr>
      <table class="table table-striped mt-16">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Data Nascimento</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <th scope="row">{{usuario.id}}</th>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.email}}</td>
            <td>{{ usuario.dataNascimento }}</td>
            <td>
              <button type="button" class="btn btn-secondary"><i class="fa-solid fa-pencil"></i></button>
              <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
            </td>
          </tr>
        </tbody>

        </table>
    </main>
  </div>
</div>
